.root {
    border-bottom: 1px solid #000;
    min-width: 100%;
    min-height: 100%;
}

.profileAvatarImg {
    border-radius: 50%;
    background-color: #d2d2d2;
    width: 275px;
    height: 275px;
    margin: -200px 0 0 0;
}

.profileAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}
.profileBackground {
    height: 300px;
    width: 100%;
}
.statusWithButton {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activateProfile {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: #ffffff;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    color: #444444;
    padding: 10px 25px;
    border: 5px solid;

}


.profileMainInfo {
    display: flex;
    height: 130px;
    align-items: flex-end;
    border-radius: 5px;
    padding: 10px 0;
}
