

.addPostForm {
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
}
.root {
    display: grid;
    grid-template-columns: 350px 1fr 350px;
    grid-template-rows: 480px 1fr;
    padding: 0;
    grid-template-areas:
    "header header header"
    "info posts entities";
}

.profileHeader {
    grid-area: header;
}

.profileEntities {
    grid-area: entities;
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 10px 0;
    min-height: 800px;
}


.profileInfo {
    grid-area: info;
}

.profilePosts {
    grid-area: posts;
    background-color: #f3f3f3;
    color: #000;
    padding: 10px 0;
    border-right: 1px solid;
    border-left: 1px solid;
}

.profilePost {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin: 10px;
    text-align: center;

}


.postImage {
    width: 400px;
    border-radius: 10px;
}


.profileInfo {
    text-align: center;
    border-radius: 5px;
    color: #000;
    padding: 10px 0;
}

.profileInfoBlock {
    text-align: left;
    margin: 20px;
}
